#index{
    margin: 0;
    background-color: #f4f1de;
}

h1{
    color: #3d405b;
    font-size: 50px;
}

#homepage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home{
    display: flex;
    width: 80%; 
    border: 1px solid #3d405b;
    box-shadow: 5px 5px;
    margin-top: 10px;
    padding: 0.5rem;
    justify-content: center;
}

.home-button{
    color: #3d405b;
    font-size: 2.5rem;
    text-decoration: none;
}

#start{
    display: block;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid #e07a5f;
    box-shadow: 5px 5px;
    font-size: large;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#start:hover {
    box-shadow:none;
    position: relative;
    left: 5px;
    top: 5px;
}

#about{
    display: flex;
    width: 90%;
    border: 4px solid #81b29a;
    box-shadow: 5px 5px;
    padding-left: 15px;
    flex-direction: column;
    margin-bottom: 50px;
}